.box {
  width: 110px;
  width: 90px;
  width: 1000px;
  height: 25px;
}
.father {
  width: 100px;
}
.father .son {
  color: pink;
}
.father .son:hover {
  color: green;
}
.father:hover {
  color: red;
}
